beautifulsoup4==4.14.3
certifi==2026.1.4
charset-normalizer==3.4.4
comtypes==1.4.7
idna==3.11
numpy==2.1.1
pandas==2.2.2
pyjokes==0.8.3
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.97
pytz==2024.2
pywin32==306
requests==2.32.5
six==1.16.0
soupsieve==2.8.3
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.6.3
